@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.additional-details div {
    display: flex;
    gap: 20px;
    /* margin-bottom: 20px; */
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between  ;

}
.additional-details div input {
    width: 300px;
    margin: 5px;


}
.additional-details div label {
    width: auto;
    margin: 5px;

}